---
import BaseLayout from "./BaseLayout.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
    post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, description, pubDate, tags } = post.data;
---

<BaseLayout title={title} description={description}>
    <article class="prose prose-invert prose-mauve max-w-none">
        <header class="not-prose mb-12 space-y-4">
            <div
                class="flex items-center gap-4 text-sm font-medium text-overlay0 uppercase tracking-widest"
            >
                <time
                    >{
                        pubDate.toLocaleDateString("en-US", {
                            month: "long",
                            day: "numeric",
                            year: "numeric",
                            timeZone: "UTC",
                        })
                    }</time
                >
                {
                    tags && tags.length > 0 && (
                        <>
                            <span>•</span>
                            <div class="flex gap-2">
                                {tags.map((tag) => (
                                    <span class="text-mauve">{tag}</span>
                                ))}
                            </div>
                        </>
                    )
                }
            </div>
            <h1
                class="text-4xl md:text-5xl font-black tracking-tight text-text leading-tight"
            >
                {title}
            </h1>
            <p
                class="text-xl text-subtext1 leading-relaxed border-l-4 border-mauve/20 pl-6 italic"
            >
                {description}
            </p>
        </header>

        <div
            class="bg-mantle/50 border border-surface0 p-8 md:p-12"
            style="border-radius: var(--radius-sm);"
        >
            <slot />
        </div>
    </article>
</BaseLayout>
